<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <div class="mt-3">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" >First Name</span>
      <input type="text" formControlName="firstName" class="form-control"
      [class.is-invalid]="submitted && registerForm.get('firstName')?.errors">
      <span class="text-danger" *ngIf="submitted && registerForm.get('firstName')?.hasError('required')">First name is required.</span>
      <span class="text-danger" *ngIf="submitted && (registerForm.get('firstName')?.hasError('minlength') ||
      registerForm.get('firstName')?.hasError('maxlength'))">First name must be at least 3 characters and max 15 characters.</span>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="lastName">Last Name</span>
      <input type="text" formControlName="lastName" class="form-control"
      [class.is-invalid]="submitted && registerForm.get('lastName')?.errors">
      <span class="text-danger" *ngIf="submitted && registerForm.get('lastName')?.hasError('required')">Last name is required.</span>
      <span class="text-danger" *ngIf="submitted && registerForm.get('lastName')?.hasError('minlength') ||
      registerForm.get('lastName')?.hasError('maxlength')">Last name must be at least 3 characters and max 15 characters.</span>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="email">Email</span>
      <input type="text" formControlName="email" class="form-control"
      [class.is-invalid]="submitted && registerForm.get('email')?.errors">
      <span class="text-danger" *ngIf="submitted && registerForm.get('email')?.hasError('required')">Email is required.</span>
      <span class="text-danger" *ngIf="submitted && registerForm.get('email')?.hasError('pattern')">Invalid email adress.</span>
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="password">Password</span>
      <input type="password" formControlName="password" class="form-control"
      [class.is-invalid]="submitted && registerForm.get('password')?.errors">
      <span class="text-danger" *ngIf="submitted && registerForm.get('password')?.hasError('required')">Password is required.</span>
      <span class="text-danger" *ngIf="submitted && registerForm.get('password')?.hasError('minlength') ||
      registerForm.get('password')?.hasError('maxlength')">Password must be at least 3 characters and max 15 characters.</span>
    </div>
    <div class="form-floating" *ngIf="errorMessages.length>0">
      <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
