<div style="display: flex; align-items: center; justify-content: space-between; background-color: rgb(243, 229, 234);"
  *ngIf="(accountService.user$ | async) as user">
  <dx-toolbar [items]="toolbarContent" style="background-color: rgb(243, 229, 234);"></dx-toolbar>
  <app-logged-user></app-logged-user>
</div>

<div *ngIf="(accountService.user$ | async) as user">
  <dx-drawer [openedStateMode]="selectedOpenMode" [position]="selectedPosition" [revealMode]="selectedRevealMode"
    template="template" [(opened)]="isDrawerOpen" [closeOnOutsideClick]="true"
    style="background-color: rgb(249, 244, 246);">
    <div class="dx-drawer-content">
      <div *dxTemplate="let data of 'template'"
        style="width: 200px; height:100vh; background-color: rgb(235, 213, 223);">

        <div style="display: flex; flex-direction: column;">
          <button class="btn mt-3 menu-item" [routerLink]="['/']">
            <div>Home</div>
          </button>
          <button class="btn mt-3 menu-item" [routerLink]="['/employees']">
            <div>Employees</div>
          </button>
          <button class="btn mt-3 menu-item" [routerLink]="['/suppliers']">
            <div>Suppliers</div>
          </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

  </dx-drawer>
</div>
<div *ngIf="!(accountService.user$ | async) as user">
  <router-outlet></router-outlet>
</div>
