<div class="d-flex justify-content-center align-items-center my-2">
  <div class="register-form border rounded">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div>
        <h3 class="my-5">Reset password</h3>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
          <div class="my-5">
            <div class="input-group input-group-sm mb-2">
              <span class="input-group-text" id="email">Email</span>
              <input type="text" formControlName="email" class="form-control">
            </div>

            <div class="input-group input-group-sm mb-2">
              <span class="input-group-text" id="newPassword">New password</span>
              <input type="password" formControlName="newPassword" class="form-control"
                [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
            </div>
            <div class="text-danger mb-2" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
              Password
              is required.</div>
            <div class="text-danger mb-2" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('minlength') ||
      resetPasswordForm.get('newPassword')?.hasError('maxlength')">Password must be at least 3 characters and max 15
              characters.</div>
            <div class="form-floating" *ngIf="errorMessages.length>0">
              <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>
          </div>
          <button class="btn btn-primary me-3" type="submit">Reset password</button>
          <button class="btn btn-secondary" type="button" routerLink="/account/login">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
