.card{
  background-color: #96AD49;
  min-height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.subtitle{
  font-weight: bold;
  align-self: center;
}

.today-tasks{
  align-items: center;
}
.toDos{
  align-items: center;
}
