<div *ngIf="(accountService.user$ | async) as user">
  <dx-drawer [openedStateMode]="'shrink'" [position]="'left'" [revealMode]="'slide'" template="template"
    [(opened)]="isDrawerOpen" [closeOnOutsideClick]="false">
    <dx-toolbar style="height: 40px; min-width: fit-content; ">
      <dxi-item location="before" widget="dxButton">
        <div *dxTemplate>
          <i class='bi bi-list mt-auto mb-auto ms-3' style="font-size: 20px;" s (click)="onOpenDrawer()"></i>
        </div>
      </dxi-item>

      <dxi-item *ngIf="(companyService.company$ | async) as company" location="center">
        <div *dxTemplate>
          <p class="my-auto" style=' font-weight: bold; font-size: 17px;'>{{company.name}}</p>
        </div>
      </dxi-item>

      <dxi-item location="after">
        <div *dxTemplate>
          <div style="display: flex; flex-direction: row; ">
            <p class="my-auto mx-1" style="font-size: 16px; font-style: italic;">{{user.firstName}} {{user.lastName}}
            </p>
            <i class="bi bi-person-fill my-auto me-3" style="font-size: 20px;"></i>
          </div>
        </div>
      </dxi-item>
    </dx-toolbar>


    <div class="dx-drawer-content">
      <div *dxTemplate="let data of 'template'"
        style="width: 200px; min-height: 700px; height: 100vh; background-color: #CCD5AE;">
        <div style="width: 200px; min-height: 700px; height: 100vh; display: flex; flex-direction: column; justify-content: space-between; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

          <p class="my-4 mx-auto" style="font-size: 20px; font-style: italic;">BusinessManager</p>

          <button class="btn mt-1 py-2 menu-item" routerLink="/" #rlaH="routerLinkActive" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <div class="button-content">
              <div class=""><i class="bi bi-house-fill"></i> Home</div>
              <div class="" *ngIf="rlaH.isActive"><i class="bi arrow bi-arrow-right"></i></div>
            </div>
          </button>
          <button class="btn py-2 menu-item" routerLink="/employees" #rlaEmp="routerLinkActive"
            routerLinkActive="active-link">
            <div class="button-content">
              <div class=""><i class="bi bi-people-fill"></i> Employees</div>
              <div class="" *ngIf="rlaEmp.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>

          </button>
          <button class="btn py-2 menu-item" routerLink="/suppliers" #rlaSup="routerLinkActive"
            routerLinkActive="active-link">
            <div class="button-content">
              <div class=""><i class="bi bi-truck-flatbed"></i> Suppliers</div>
              <div class="" *ngIf="rlaSup.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>

          </button>
          <button class="btn py-2 menu-item" routerLink="/budget" #rlaBud="routerLinkActive"
            routerLinkActive="active-link">
            <div class="button-content">
              <div class=""><i class="bi bi-credit-card-fill"></i> Budget</div>
              <div class="" *ngIf="rlaBud.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>
          </button>

          <button class="btn py-2 menu-item" routerLink="/to-do" #rlaToDo="routerLinkActive"
            routerLinkActive="active-link">
            <div class="button-content">
              <div class=""><i class="bi bi-check-square-fill"></i> To Do</div>
              <div class="" *ngIf="rlaToDo.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>
          </button>

          <div class="flex-grow-1"></div>

          <button class="btn py-2 menu-item" routerLink="/profile" #rlaProf="routerLinkActive"
            routerLinkActive="active-link">
            <div class="button-content">
              <div class=""><i class="bi bi-person-fill"></i> Profile</div>
              <div class="" *ngIf="rlaProf.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>
          </button>
          <button class="btn py-2 menu-item" (click)="onLogout()">
            <div class="button-content">
              <div class=""><i class="bi bi-box-arrow-right"></i> Log out</div>
            </div>
          </button>

        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

  </dx-drawer>
</div>
<div *ngIf="!(accountService.user$ | async) as user">
  <router-outlet></router-outlet>
</div>
