<div style="display: flex; align-items: center; justify-content: space-between; background-color: rgb(243, 229, 234);"
  *ngIf="(accountService.user$ | async) as user">
  <dx-toolbar [items]="toolbarContent" style="background-color: rgb(243, 229, 234);"></dx-toolbar>
  <app-logged-user></app-logged-user>
</div>

<div *ngIf="(accountService.user$ | async) as user">
  <dx-drawer [openedStateMode]="'shrink'" [position]="'left'" [revealMode]="'slide'" template="template"
    [(opened)]="isDrawerOpen" [closeOnOutsideClick]="false" style="background-color: rgb(249, 244, 246);">
    <div class="dx-drawer-content">
      <div *dxTemplate="let data of 'template'"
        style="width: 200px; height:100vh; background-color: rgb(235, 213, 223);">

        <div style="display: flex; flex-direction: column;">
          <button class="btn mt-1 py-2 menu-item" routerLink="/" #rlaH="routerLinkActive" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }" [disabled]="!(accountService.user$ | async)">
            <div class="button-content">
              <div class=""><i class="bi bi-house-fill"></i> Home</div>
              <div class="" *ngIf="rlaH.isActive"><i class="bi arrow bi-arrow-right"></i></div>
            </div>
          </button>
          <button class="btn py-2 menu-item" routerLink="/employees" #rlaEmp="routerLinkActive"
            routerLinkActive="active-link" [disabled]="!(accountService.user$ | async)">
            <div class="button-content">
              <div class=""><i class="bi bi-people-fill"></i> Employees</div>
            <div class="" *ngIf="rlaEmp.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>

          </button>
          <button class="btn py-2 menu-item" routerLink="/suppliers" #rlaSup="routerLinkActive"
            routerLinkActive="active-link" [disabled]="!(accountService.user$ | async)">
            <div class="button-content">
              <div class=""><i class="bi bi-truck-flatbed"></i> Suppliers</div>
            <div class="" *ngIf="rlaSup.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>

          </button>
          <button class="btn py-2 menu-item" routerLink="/budget" #rlaBud="routerLinkActive"
            routerLinkActive="active-link" [disabled]="!(accountService.user$ | async)">
            <div class="button-content">
              <div class=""><i class="bi bi-credit-card-fill"></i> Budget</div>
            <div class="" *ngIf="rlaBud.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>
          </button>

          <button class="btn py-2 menu-item" routerLink="/to-do" #rlaToDo="routerLinkActive"
            routerLinkActive="active-link" [disabled]="!(accountService.user$ | async)">
            <div class="button-content">
              <div class=""><i class="bi bi-check-square-fill"></i> To Do</div>
            <div class="" *ngIf="rlaToDo.isActive"><i class="bi bi-arrow-right"></i></div>
            </div>
          </button>

        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

  </dx-drawer>
</div>
<div *ngIf="!(accountService.user$ | async) as user">
  <router-outlet></router-outlet>
</div>
