<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="(accountService.user$|async) ? '':null">Business Manager</a>
    <div>
      <dx-menu #menu [dataSource]="menuItems" displayExpr="text" orientation="horizontal"
        [hideSubmenuOnMouseLeave]="false" (onItemClick)="itemClick($event)">
      </dx-menu>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="(accountService.user$ | async) !== null">
          <!-- <a class="nav-link active" aria-current="page" routerLink="/employees">Employees</a> -->
        </li>
      </ul>

    </div>
    <div class="logged-user">
      <app-logged-user></app-logged-user>
    </div>

  </div>
</nav>
<!-- <dx-toolbar [items]="toolbarContent"> </dx-toolbar> -->
<!-- <dx-drawer
  [openedStateMode]="selectedOpenMode"
  [position]="selectedPosition"
  [revealMode]="selectedRevealMode"
  template="template"
  [(opened)]="isDrawerOpen"
  [height]="400"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let data of 'template'" style="width: 200px">
    <div *ngFor="let item of menuItems">
      <dx-button class="panel-list dx-theme-accent-as-background-color"
      ="{{item.text}}"
    > -->

<!-- </dx-button>
    </div> -->



<!-- <dx-list
      class="panel-list dx-theme-accent-as-background-color"
      [dataSource]="menuItems"
      [hoverStateEnabled]="false"
      [activeStateEnabled]="false"
      [focusStateEnabled]="false"
      (onItemClick)="onNavigationItemClick($event.itemData)"
    >
    </dx-list> -->
<!-- </div>
</dx-drawer> -->
