<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Schedule</h3>
    </div>
    <div class="card-body">
      <dx-scheduler class="custom-scheduler-size" *ngIf="(companyService.company$ | async)" timeZone="Europe/Bucharest" [views]="['day', 'week', 'workWeek', 'month']" [dataSource]="toDos"
        currentView="month" [currentDate]="currentDate" [firstDayOfWeek]="1" [startDayHour]="00" [endDayHour]="23"
        [showAllDayPanel]="false" [height]="500">
      </dx-scheduler>
      <div *ngIf="!(companyService.company$ | async)">
        <app-company-not-set></app-company-not-set>
      </div>
    </div>
  </div>
</div>
