<div class="page d-flex justify-content-center align-items-center my-2" *ngIf="mode">
  <div class="register-form border rounded">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div>
        <h3 class="my-5" *ngIf="mode.includes('resend-email-confirmation-link')">Resend email confirmation link</h3>
        <h3 class="my-5" *ngIf="mode.includes('forgot-username-or-password')">Forgot username or password</h3>
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" autocomplete="off">
          <div class="my-5">
            <div class="input-group input-group-sm mb-2">
              <span class="input-group-text" id="email">Email</span>
              <input type="text" formControlName="email" class="form-control"
                [class.is-invalid]="submitted && emailForm.get('email')?.errors">
            </div>
            <div class="text-danger mb-2" *ngIf="submitted && emailForm.get('email')?.hasError('required')">Email is
              required.</div>
            <div class="text-danger mb-2" *ngIf="submitted && emailForm.get('email')?.hasError('pattern')">Invalid
              email adress.</div>
            <div class="form-floating" *ngIf="errorMessages.length>0">
              <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            </div>
          </div>
          <button class="btn send me-3" type="submit">Send email</button>
          <button class="btn back" type="button" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
