<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h4>Employees</h4>
      <hr class="solid">
      <div class="table-responsive">
        <dx-data-grid *ngIf="(companyService.company$ | async)" id="employees" [keyExpr]="'id'" [dataSource]="employees"
          [columnAutoWidth]="true" [wordWrapEnabled]="true" [showBorders]="true" (onExporting)="onExporting($event)">
          <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

          <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
          <dxo-pager [visible]="true" [displayMode]="'full'" [showPageSizeSelector]="true"
            [showInfo]="true" [showNavigationButtons]="true">
          </dxo-pager>

          <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
            <dxo-popup title="Employee Info" [showTitle]="true" [width]="700"></dxo-popup>
          </dxo-editing>
          <dxi-column dataField="firstName" caption="First Name">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" [min]="3" [max]="15"
              message="First name should be between 3 and 15 characters."></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="lastName" caption="Last Name">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" [min]="3" [max]="15"
              message="Last name should be between 3 and 15 characters."></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="birthDate" caption="Birthdate" dataType="date">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxi-validation-rule type="range" [max]="maxDate"
              message="Employees must be at least 15."></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="email" caption="Email">
            <dxi-validation-rule type="email"></dxi-validation-rule>
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="phoneNumber" caption="Phone Number">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="address" caption="Address">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="city" caption="City">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="startDate" caption="Start Date" dataType="date">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="endDate" caption="End Date" dataType="date">
          </dxi-column>
          <dxi-column dataField="department" caption="Department">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
          <dxi-column dataField="salary" caption="Salary" dataType="currency">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            <dxo-format type="fixedPoint" precision="2"></dxo-format>
        </dxi-column>
          <dxi-column type="buttons" caption="Actions">
            <dxi-button name="edit" icon="bi bi-pencil-square"></dxi-button>
            <dxi-button name="delete" icon="bi bi-trash"></dxi-button>
          </dxi-column>
          <dxo-export [enabled]="true" [formats]="['pdf']" [allowExportSelectedData]="true"></dxo-export>
        </dx-data-grid>
        <div *ngIf="!(companyService.company$ | async)">
          <app-company-not-set></app-company-not-set>
        </div>
      </div>
    </div>
  </div>
</div>
