<div class="container my-4">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Employees</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="mx-3 my-3">
          <dx-tree-list id="employees" [keyExpr]="'id'" [dataSource]="employees" [columnAutoWidth]="true"
            [wordWrapEnabled]="true" [showBorders]="true">
            <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

            <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
              <dxo-popup title="Employee Info" [showTitle]="true" [width]="700"></dxo-popup>
            </dxo-editing>
            <dxi-column dataField="firstName" caption="First Name"></dxi-column>
            <dxi-column dataField="lastName" caption="Last Name"></dxi-column>
            <dxi-column dataField="email" caption="Email"></dxi-column>
            <dxi-column dataField="phoneNumber" caption="Phone Number"></dxi-column>
            <dxi-column dataField="address" caption="Address"></dxi-column>
            <dxi-column dataField="city" caption="City"></dxi-column>
            <dxi-column dataField="startDate" caption="Start Date" dataType="date"></dxi-column>
            <dxi-column dataField="endDate" caption="End Date" dataType="date"></dxi-column>
            <dxi-column dataField="department" caption="Department"></dxi-column>
            <dxi-column dataField="salary" caption="Salary" dataType="Number"></dxi-column>
            <dxi-column type="buttons" caption="Actions">
              <dxi-button name="edit" icon="bi bi-pencil-square"></dxi-button>
              <dxi-button name="delete" icon="bi bi-trash"></dxi-button>
            </dxi-column>
          </dx-tree-list>
        </div>
      </div>
    </div>
  </div>
</div>
