
  <form #form="ngForm" (submit)="updateCompany()">
    <dx-form [(formData)]="companyForm">
      <dxi-item dataField="name" editorType="dxTextBox" [editorOptions]="{ placeholder: 'Name' }">
        <dxi-validation-rule type="required">

        </dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="address" editorType="dxTextBox" [editorOptions]="{ placeholder: 'Address' }">
      </dxi-item>
      <dxi-item dataField="phoneNumber" editorType="dxTextBox" [editorOptions]="{ placeholder: 'Phone Number' }">
      </dxi-item>
      <dxi-item template="template">
        <div class="my-3" *dxTemplate>
          <dx-button class="me-3 save" text="Save" [useSubmitBehavior]="true"></dx-button>
          <dx-button class="delete" text="Delete company" (onClick)="deleteCompany()"></dx-button>
        </div>
      </dxi-item>
    </dx-form>
  </form>
