<div class="d-flex justify-content-center align-items-center">
  <div class="login-form border rounded">
    <div class="d-flex justify-content-center align-items-center p-3">
      <div>
        <h3 class="my-5">Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="my-5">
            <div class="input-group input-group-sm mb-2">
              <span class="input-group-text" id="email">Email</span>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div *ngIf="submitted && loginForm.get('email')?.hasError('required')" class="text-danger mb-2">
              Email is required.
            </div>

            <div class="input-group input-group-sm mb-2">
              <span class="input-group-text" id="password">Password</span>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <div *ngIf="submitted && loginForm.get('password')?.hasError('required')" class="text-danger mb-2">
              Password is required.
            </div>
          </div>
          <a class="password mt-5" href="">I forgot my password</a>
          <div class="form-floating">
            <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
          </div>
          <div>
            <button class="btn btn-primary me-3" type="submit">Login</button>
            <button class="btn btn-secondary" type="button" (click)="onBack()">Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
