.login-form{
  min-height: 98vh;
  background-color: white;
  color: #4D4D4D;
}
.password{
  font-size: smaller;
}
.page{
  background-color: #f8f9fa;
}
.login{
  background-color: #96AD49;
}
.back{
  background-color: #E9EDC9;
}
