body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.card {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  min-height: 100vh;
  max-width: 1300px;
  min-width: 1300px;
  overflow-y: auto;

}
.container{
  overflow-x: visible;
}

/* Media query for zoomed-in state */

