<div class="container">
  <div *ngIf="(accountService.user$|async) as user">
    <div *ngIf="!(companyService.company$|async) as company">
      <button class="btn btn-primary" [routerLink]="['/add-company']" (click)="addCompanyClick()">Add your
        company</button>
    </div>
    <div *ngIf="(companyService.company$|async) as company">
      <div class="row">
        <div class="col-4 cards">
          <app-to-do-card></app-to-do-card>
          <app-birthdays-card></app-birthdays-card>
          <app-budgets-card></app-budgets-card>
        </div>
        <div class="col-8">
            <h3>Welcome back, {{user.firstName}}!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
