<div class="account container-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="mb-5">Welcome to Business Manager!</h2>
    <h3>Let's get started!</h3>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <button class="btn btn-primary mx-5" [routerLink]="['/account/login']">Login</button>
      <button class="btn btn-primary mx-5" [routerLink]="['/account/register']">Register</button>
    </div>
  </div>
</div>

