.expense{
  color: red;
}
.income{
  color: #769902;
}
.date{
  font-weight: bold;

}
.card{
  min-height: 150px;
  background-color: #E9EDC9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
