<div class="card mt-3">

  <div class="card-body">
    <h5 class="card-title"><i class="bi bi-credit-card"></i>Upcoming payments</h5>
    <div class="card-text">
      <div *ngIf="budgets.length!==0">
        <div *ngFor="let budget of budgets">
          <p class="date mt-3 mb-0">{{budget.date|date:'dd MMMM YYYY'}}</p>
          <p class="mb-0">{{budget.paymentTypeName}}:  {{budget.name}}</p>
          <div *ngIf="budget.value<0">
              <p class="value">{{budget.value}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="budgets.length===0">
        <p>There aren't any upcoming payments.</p>
      </div>

    </div>
  </div>
</div>
